* {
    padding:0;
    margin:0;
    border:0;
    border-color:white;
    border-style:dashed;
}

#sidebar{
  width: 20%;
  height: 100%;
  float: left;

}
a {
    text-decoration:none;
    color:black;
    padding-right:5px;
}


#rightside {
    width:80%;
    position:absolute;
    bottom:0;
    top:0;
    left:20%;
    overflow:auto;
}

.title{
    font-size:150%;
    background:#1a002f;
    padding-bottom:5%;
    padding-top:5%;
    padding-left:5%;
    color:white;
    position:relative;
    z-index:2;
    border-bottom:10px;
    border-right:10px;
    border-color:#130222;
    border-style:inset;

}

.card {
    background:rgb(221, 221, 221);
    color:black;
    padding:10px;
    margin:auto;
    border:1px;
    border-radius:7px;
    border-style:solid;
    border-color:rgb(199, 199, 199);

}

footer {
    position:absolute;
    bottom:0;
    width:20%;
    padding-left:7px;
}



#container {
    border:1px;
    border-style:solid;
    border-color:rgb(155, 155, 155);
    position:absolute;
    width:20%;
    overflow:auto;
    background:rgb(197, 197, 197);
    height:87%;
}

img {
    height:100%;

}

#Backbutton  {
    font-size:150%;

}
